* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__app {
  display: flex;
}
h1 {
  font-weight: 400;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
p {
  color: gray;
}
b {
  color: black;
}
span a {
  font-weight: 600;
  color: #0071bd;
  text-decoration: none;
}

body {
  background-color: #f0f2f5;
}
@media (max-width: 1200px) {
  .main__app {
    display: grid;
  }
}
